.glass{
	height:55%;
	position:absolute;
	top:15%;
	left:5%;
}

.orangeboysc3{
	height:20%;
	position:absolute;
	top:50%;
	left:22%;	
}

.cheese{
	height:20%;
	position:absolute;
	top:35%;
	left:35%;
}

.bed{
	height:25%;
	position:absolute;
	top:30%;
	left:45%;	
}

.yogurt{
	height:17%;
	position:absolute;
	top:37%;
	left:67%;		
}

.milk{
	height:70%;
	position:absolute;
	top:5%;
	left:75%;	
}

.sc3-section-title{
	text-align:center !important;
	position:absolute !important;
	top:0% !important;
	left:50% !important;
	
	font-family:'fenway-park-jf';
	/*font-weight: bold;*/
	text-transform: capitalize;
	font-size:2.5em;
}

.sc3-section-description{
	text-align:center !important;
	position:absolute !important;
	top:18% !important;
	left:50% !important;
	
	font-family:'fenway-park-jf';
	text-transform: capitalize;
	font-size:2em;	
	color:rgba(0,0,255,.5) !important;
}