.jelly{
	height:30%;
	position:absolute;
	top:30%;
	left:45%;
}

.wip{
	height:40%;
	position:absolute;
	top:25%;
	left:55%;
}

.mustard{
	height:50%;
	position:absolute;
	top:23%;
	left:63%;
}

.ketchup{
	height:60%;
	position:absolute;
	top:20%;
	left:77%;
}

.orangeboy{
	height:20%;
	position:absolute;
	top:60%;
	left:33%;	
}

.desk{
	height:50%;
	position:absolute;
	top:40%;
	left:5%;	
}

.sc4-section-title{
	text-transform:capitalize;
	font-family:'fenway-park-jf';
	font-size:2.5em;
	color:rgba(0,0,0,1) !important;

	position:absolute !important;
	top:10% !important;
	left:25% !important;
}

.sc4-section-description{
	text-align:center !important;
	font-family:'fenway-park-jf';
	font-size:1.5em;
	color:rgba(0,0,0,1) !important;

	position:absolute !important;
	top:18% !important;
	left:25% !important;	
}