body{
	overflow-x:hidden;
}

.scene_layer{
	height:90vh;
	width:100%;
	/*border:2px solid white;*/
	position:relative;
}

#snowflakeContainer {
	position: absolute;
	left: 0px;
	top: 0px;
}

.snowflake {
	padding-left: 15px;
	font-size: 20px;
	line-height: 24px;
	position: fixed;
	color: rgba(255,255,255,.5) !important;
	user-select: none;
	z-index:999;

	/*user cant interact with snowflake*/
	/*no clicking or dragging*/
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.snowflake:hover {
	cursor: default;
}

.podium{
	height:50%;
	width:25%;
	position:absolute;
	top:35%;
	left:65%;
}

#podium1{
	animation-duration:2s;
	-webkit-animation-duration: 2s;
}

#icetray1{
	animation-duration:2s;
	-webkit-animation-duration: 2s;
}

.cubes{
	height:25%;
	width:50%;
	position:absolute;
	top:60%;
	left:5%;
}

/*FIXED ELEMENTS - START*/


/*|||||||||||||||||||||||||||||||||||||||*/
/*||||FOOTER RULES - START  				 ||||*/
/*|||||||||||||||||||||||||||||||||||||||*/
.footer{
	background-color:#282828;
	width:100%;
	height:50px;
	position:fixed;
	bottom:0;
	left:0;
	z-index:1;
}

.footer-logo{
	margin:15px 0px 0px 10px;
	width:80px;
	display:inline-block;
}

.csun-info-holder{
	position:absolute;
	top:15px;
	left:100px;
	display:inline;
}

.csun-address{
	color:white;
	font-family:lato;
	font-size:.8em;
	text-transform:capitalize;
	padding:1px;
}

.social-media-holder{
	position:absolute;
	top:15px;
	right:0px;
}

.social-media{
	margin:0px 20px 0px 0px ;
	height:20px;
	display:inline-block;
}
/*|||||||||||||||||||||||||||||||||||||||*/
/*||||FOOTER RULES - END  					 ||||*/
/*|||||||||||||||||||||||||||||||||||||||*/
/*FIXED ELEMENTS - END*/



/*SCENE 1 TEXT - START*/
.page-title{
	/*border:2px solid yellow;*/
	font-family:pattaya;
	color:white !important;
	font-size:3em;
	text-transform: capitalize;
	width:100%;
	text-align:center;
}

.sc1-outer-container{
	/*border:2px solid green;*/
	width:50%;
	position:absolute;
	top:10%;
	left:5%;
}

.sc1-inner-container{
	/*border:2px solid red;*/
	position:relative;
	height:200px;
	width:100%;
}

.section-title{
	/*border:2px solid white;*/
	font-family:pattaya;
	color:white !important;
	font-size:2.2em;
	text-transform: capitalize;
	text-align:left !important;
}

.section-description{
	/*border:2px solid white;*/
	font-family:abel;
	color:white !important;
	font-size:1.2em;
	text-align:left !important;
	line-height: 25px;
}


#sc1-btn{
	position:absolute;
	top:60%;
	right:25%;
}

/*SCENE 1 TEXT - END*/
/*Styles for Med size screens*/
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#sc1-btn{
		position:absolute;
		top:110%;
		left:20%;
	}
}

/*STYLES FOR SMALL/MOBILE SCREENS */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
	
	.sc1-outer-container{
		/*border:2px solid green;*/
		width:50%;
		position:absolute;
		top:15%;
		left:5%;
	}

	.sc1-inner-container{
		/*border:2px solid red;*/
		position:relative;
		height:200px;
		width:100%;
	}

	.section-title{
		/*border:2px solid white;*/
		font-family:pattaya;
		color:white !important;
		font-size:1.8em;
		text-transform: capitalize;
		text-align:left !important;
	}

	.section-description{
		/*border:2px solid white;*/
		font-family:abel;
		color:white !important;
		font-size:1.2em;
		text-align:left !important;
		line-height: 25px;
	}

	#sc1-btn{
		position:absolute;
		top:160%;
		right:25%;
	}

	.csun-info-holder{
		display:none;
	}
}