@import '../scenes_general.scss';
@import '../subscenes_fonts.scss';

.subscene6-information-container{
  width:70%;
  margin:0 auto;
  overflow:hidden;

  @include med{
    width:80%;
  }
}

.subsc6-title-container{
  width:100%;
  overflow:hidden;
}

.subsc6-greeting{
  font-family:$main-font;
  font-size:1.3em;
}

.subsc6-title{
  font-family:$main-font;
  font-size:$desktop-subscene-title-size;
  text-transform: capitalize;

  @include med{
    font-size:$med-subscene-title-size;
  }
}

.subsc6-description{
  width:50%;
  margin:0 auto;
  font-family:$secondary-font;
  font-size:$desktop-subscene-description-size;
  text-align:center;

  @include med{
    font-size:$med-subscene-description-size;
    width:80%;
  }
}

// -------------------------------------------
// CARD CONTAINER - START
// -------------------------------------------
.subscene6-cards-container{
  width:55%;
  height:auto;
  margin:2% auto;
  @include med{
    width:100%;
  }
}

.subsc6-card-image{
  height:300px;
  padding:2%;

  @include med{
    width: 60%;
  }
}

.card-title-container{
  background-color:rgba(134,53,136,1);
  border:6px solid rgba(155,78,155,1);

  // background-color:rgba(155,78,155,1);
  // border:6px solid rgba(134,53,136,1);

  border-radius:40px;
  width:100%;
  height:5%;
}

.card-title{
  font-family:$main-font;
  font-size:$desktop-subscene-card-title-size;
  color:white;
  text-transform:capitalize;
  margin:1% auto;
}

.card-description-container{
  height:auto;
  min-height:550px;
  width:90%;
  margin:-10px auto;
  border-radius:0 0 20px 20px;
  padding:5%;
  box-shadow:0px 2px 2px rgba(0,0,0,.25);
}

.card-description-container2{
  height:auto;
  min-height:250px;
  width:90%;
  margin:-10px auto;
  border-radius:0 0 20px 20px;
  padding:5%;
  box-shadow:0px 2px 2px rgba(0,0,0,.25);
}

.card-description{
  margin:2% auto;
  font-family:$secondary-font;
  font-size:$desktop-subscene-card-description-size;
  width:90%;
  text-align:center;
}

.card-btn{
  font-family:$main-font;
  font-size:1.5em;
  text-transform:capitalize;
  text-shadow:2px 2px 2px rgba(0,0,0,.25);
  margin:5% auto;
}
// ---------------------------------------
// CARD CONTAINER - END
// ---------------------------------------







// ---------------------------------------
// Do's & Dont's List - START
// ---------------------------------------
.subscene6-tip-list{
  width:70%;
  margin:2% auto;

  @include macdesktop{
    width:60%;
  }
  // border:2px solid green;
}

.subsc6-list-item{
  font-family:$secondary-font;
  font-size:1.5em;
  margin:0 0 30px 0;
  text-align:left;

  @include med{
    text-align:justify;
  }
}

.subsc6-tip-list-image{
  width:80%;
  margin:0 auto;

  @include macdesktop{

  }
}

.subsc6-not{
  height:20px;
  margin:0 10px;
}

#dont_list_image{
  margin-top:33%;

  @include med{
    margin-top:0%;
  }

  @include macdesktop{
    margin-top:5%;
  }
}

#do-list{
  margin-top:100px;
}
// ---------------------------------------
// Do's & Dont's List - END
// ---------------------------------------




// ---------------------------------------
// Know your rights - START
// ---------------------------------------
.reg-btn{
  transform:scale(1.3);
  font-family:$main-font;
  font-size:1.5em;
  text-transform:capitalize;
  text-shadow:2px 2px 2px rgba(0,0,0,.25);
  margin:2% auto;
}  
// ---------------------------------------
// Know your rights - END
// ---------------------------------------



// ---------------------------------------
//  split thingies at the end - START
// ---------------------------------------

// ---------------------------------------
// split thingies at the end - END
// ---------------------------------------
