$main-font:'pattaya';
$secondary-font:'abel';


// HOMEPAGE FONTS
$desktop-home-title-size:5em;
$retina-home-title-size:6em;
$tablet-home-title-size:3em;
$mobile-home-title-size:2.2em;
$xs-home-title-size:1.2em;

$desktop-home-subtitle-size:1.5em;
$retina-home-subtitle-size:2.5em;
$tablet-home-subtitle-size:1.5em;
$mobile-home-subtitle-size:1.2em;
$xs-home-subtitle-size:1.2em;

$desktop-home-greeting-size:2.2em;
$retina-home-greeting-size:2em;
$tablet-home-greeting-size:1.8em;
$mobile-home-greeting-size:1.8em;
$xs-home-greeting-size:1.5em;

$desktop-home-description-size:1.4em;
$retina-home-description-size:1.7em;
$tablet-home-description-size:1.5em;
$mobile-home-description-size:1.1em;
$xs-home-description-size:1em;



// APPLIES TO SCENE TAGS
$retina-app-title-size:5em;
$desktop-app-title-size:4em;
$med-app-title-size:3em;
$mobile-app-title-size:2.2em;

$retina-title-size:3em;
$tablet-title-size:3.5em;
$desktop-title-size:2.8em;
$med-title-size:2.5em;
$mobile-title-size:1.8em;

$retina-description-size:1.5em;
$desktop-description-size:1.4em;
$med-description-size:1.3em;
$tablet-description-size:1.3em;
$mobile-description-size:1.2em;
$xs-description-size:.8em;

$retina-greeting-size:2.5em;
$desktop-greeting-size:2.2em;
$tablet-greeting-size:1.8em;
$mobile-greeting-size:1.8em;
$xs-greeting-size:1.5em;


