$macbook-min-width: 800px;
$macbook-max-width: 900px;
$mac-desktop-width: 1440px;
$ipad-min-width:768px;
$ipad-max-width:1024px;
$fourk-max-width:2160px;
$fivek-max-width:2880px;
$med-size-min-width:40.063em;
$med-size-max-width:64em;
$mobile-max-width:40em;


// 5k Styles
@mixin five-k{
	@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: #{$fivek-max-width}){
		@content;
	}	
}

// 4k Styles
@mixin four-k{
	@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: #{$fourk-max-width}){
		@content;
	}	
}

// Mac Book Styles
@mixin macbook{
	@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: #{$macbook-min-width}){
		@content;
	}	
}

// Mac Desktop Styles
@mixin macdesktop{
	@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: #{$mac-desktop-width}){
		@content;
	}	
}

// Ipad Styles
@mixin ipad{
	@media only screen and (min-device-width : #{$ipad-min-width}) and (max-device-width : #{$ipad-max-width})  { 
		@content;
	}	
}

/*Styles for Med size screens*/
@mixin med{
	@media only screen and (min-width: #{$med-size-min-width}) and (max-width: #{$med-size-max-width}) {
		@content;
	}	
}

/*STYLES FOR SMALL/MOBILE SCREENS */
@mixin mobile{
	@media only screen and (max-width: #{$mobile-max-width}) {
		@content;
	}	
}
