$font-color:#FFF;
$main-font:'pattaya';
$secondary-font:'abel';
$heading-size:3em;
$secondary-size:1.5em;

.sc6-container{
	height:100vh;
	width:100%;
	background-color:rgba(0,0,0,.5);

	background-image:url('../../public/images/scene6/scene6-background.svg');
	background-size:cover;
	background-position:center;
	position:relative;
}


// |||||||||||||||||||||||||||||||||||||| 
// Information Container Rules
// |||||||||||||||||||||||||||||||||||||| 
.sc6-outer-information-container{
	height:40vh;
}

.sc6-inner-information-container{
	position:absolute;
	top:5vh;
	left:50%;
	transform:translate(-50%, 0);
}

.sc6-title{
	font-family:$main-font;
	color:$font-color;
	font-size:$heading-size;
	text-transform:capitalize;
	text-shadow:2px 2px 2px rgba(0,0,0,.5);
	text-align:center;
}

.sc6-description-container{
	background-color:rgba(0,0,0,.5);
	width:700px;
	margin:0 auto;
	padding:10px 5px;
	border-radius:0px 20px;
	text-align:center;
}

.sc6-description{
	font-family:$secondary-font;
	color:$font-color;
	font-size:$secondary-size;
}

.sc6-strong{
	font-family:$main-font;
	font-size:1.5em;
	display:block;
}

.cust-btn2{
	font-family:$main-font;
	margin-top:10px;
	font-size:1.3em;
	color:rgba(255,255,255,.75) !important;
	text-shadow:1px 1px 1px rgba(0,0,0,.25);
	text-transform: capitalize;
}


// |||||||||||||||||||||||||||||||||||||| 
// Scenary Rules
// |||||||||||||||||||||||||||||||||||||| 
.sc6-outer-scenary-container{
	height:60vh;
	position:relative;
}

.container{
	position:relative;
	height:100%;
}

.unselectable{
	pointer-events:none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cubicles{
	width:100%;
	position:absolute;
	top:5%;
	left:0%;
	transform:translate(5.5%, 0);
}

.characters{
	position:absolute;
	top:10%;
	left:50%;
	width:80%;
	transform:translate(-50%, 0);
}


// ||||||||||||||||||||||||||||||||||||
// MEDIA QUERIES
// ||||||||||||||||||||||||||||||||||||
/* Retina-specific stuff here */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.sc6-inner-information-container{
		top:8vh;
	}

	.cubicles{
		width:150%;
		top:-5%;
		transform:translate(-10.5%, 0);
	}

	.characters{
		top:5%;
		left:50%;
		width:120%;
		transform:translate(-50%, 0);
	}

	.sc6-description-container{
		width:700px;
		padding:10px 5px;
	}
}

/*Styles for Med size screens*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.sc6-inner-information-container{
		top:10vh;
	}
}

/*STYLES FOR SMALL/MOBILE SCREENS */
@media only screen and (max-width: 40em) {
	$mobile-heading-size:1.8em;
	$mobile-secondary-size:1em;

	.sc6-inner-information-container{
		padding:0 10px;
		width:100%;
		top:15vh;
	}

	.sc6-title{
		font-size:$mobile-heading-size;
		width:100%; 
	}

	.sc6-description{
		font-size:$mobile-secondary-size;
	}

	.sc6-description-container{
		width:100%;
		border-radius:0px 20px;
		text-align:center;
	}

	.sc6-outer-scenary-container{
		display:none;
	}

}