$main-font:'pattaya';
$secondary-font:'abel';


$desktop-subscene-title-size:3em;

$desktop-subscene-description-size:1.8em;

$desktop-subscene-card-title-size:2.2em;

$desktop-subscene-card-description-size:1.5em;
