$main-font:'pattaya';
$secondary-font:'abel';

$retina-subscene-title-size:3.2em;
$desktop-subscene-title-size:3em;
$med-subscene-title-size:2.8em;
$mobile-subscene-title-size:1.8em;

$retina-subscene-description-size:2em;
$desktop-subscene-description-size:1.8em;
$med-subscene-description-size:1.6em;
$mobile-subscene-description-size:1.4em;


$retina-subscene-card-title-size:2em;
$desktop-subscene-card-title-size:2em;
$med-subscene-card-title-size:1.8em;
$mobile-subscene-card-title-size:1.6em;


$retina-subscene-card-description-size:1.5em;
$desktop-subscene-card-description-size:1.3em;
$med-subscene-card-description-size:1.4em;
$mobile-subscene-card-description-size:1.2em;

$retina-subscene-tip-description-size:1.5em;
$desktop-subscene-tip-description-size:1.5em;
$med-subscene-tip-description-size:1.4em;
$mobile-subscene-tip-description-size:1.3em;
