@import '../media_queries.scss';
@import '../scenes_general.scss';
@import '../fonts.scss';

.content-container{
  width:45%;
  margin:0 auto;
  height:calc(100vh - #{$footer-height});
  position:relative;
  overflow:hidden;

  @include mobile{
    width:90%;
  }

  @include mobile-landscape{
    width:90%;
  }

  @include ipad{
    width:90%;
  }

  @include med{
    width:90%;
  }

  @include lowend{
    width:90%;
  }

  @include macbook{
    width:70%;
  }

  @include macdesktop{
    width:50%;
  }
}

.content-title{
  font-family:$main-font;
  font-size:$desktop-home-title-size;
  text-transform:capitalize;
  text-shadow:2px 2px 2px rgba(0,0,0,.45);
  color:white;
  text-align:center;
  margin:8% 0 0 0;

  @include mobile{
    font-size:$mobile-home-title-size;
    margin:18% 0 0 0;
  }

  @include mobile-landscape{
    display:none;
    font-size:$mobile-home-title-size;
    margin:0% 0 0 0;
  }

  @include iphone-landscape{
    font-size:$mobile-home-title-size;
    margin:0% 0 0 0; 
    display:none;
  }

  @include ipad{
    font-size:$tablet-home-title-size;
  }

  @include macbook{
    font-size:$tablet-home-title-size;
    margin:5% 0 0 0;
  }

  @include macdesktop{
    font-size:$retina-home-title-size;
    margin:15% 0 0 0;
  }

  @include lowend{
    font-size:$tablet-home-title-size;
    margin:5% 0 0 0;
  }
}

.content-subtitle{
  font-family:$secondary-font;
  font-size:$desktop-home-subtitle-size;
  text-align:center;
  margin:-10px 0 0 0;
  color:white;

  @include mobile{
    font-size:$mobile-home-subtitle-size;
  }

  @include mobile-landscape{
    display:none;
    font-size:$mobile-home-subtitle-size;
  }

  @include iphone-landscape{
    display:none;
  }

  @include macbook{
    font-size:$tablet-home-subtitle-size;
  }

  @include macdesktop{
    font-size:$retina-home-subtitle-size;
  }

  @include lowend{
    font-size:$tablet-home-subtitle-size;
  }
}


$outer-container-width:75%;
$left-displacement:((100 - $outer-container-width)/2);
#hp-outer-description-container{
  width:$outer-container-width;
  position:absolute;
  bottom:5%;
  left:$left-displacement;

  @include mobile{
    width:100%;
    left:0;
    bottom:5%;
  }

  @include mobile-landscape{
    width:90%;
    left:5%;
    bottom:5%;
  }

  @include lowend{
    width:60%;
    left:20%;
    bottom:5%;
  }

  @include macbook{
  }

  @include macdesktop{
    width:60%;
    left:20%;
    bottom:10%;
  }

  
}

#hp-description-container{
  background-color:rgba(0,0,0,.6);
  padding:10px 5%;
  border-radius:20px;
}

.content-description{
  font-family:$secondary-font;
  font-size:$desktop-home-description-size;
  color:white;
  text-align:justify;
  margin:10px;

  @include mobile{
    font-size:$mobile-home-description-size;
    margin:5px;
  }

  @include mobile-landscape{
    font-size:$xs-home-description-size;
    margin:5px;
  }

  @include iphone-landscape{
    font-size:$xs-home-description-size;
  }

  @include macbook{
    font-size:$tablet-home-description-size;
  }

  @include macdesktop{
    font-size:$retina-home-description-size;
  }

  @include lowend{
    font-size:$tablet-home-description-size;
  }
}

.greeting{
  font-family:$main-font;
  display:block;
  font-size:$desktop-home-greeting-size;
  text-align:center;

  @include mobile{
    font-size:$mobile-home-greeting-size;
  }

  @include mobile-landscape{
    font-size:$xs-home-greeting-size;
  }

  @include iphone-landscape{
    font-size:$xs-home-greeting-size;
    margin:0;
  }

  @include macbook{
    font-size:$tablet-home-greeting-size;
  }

  @include macdesktop{
    font-size:$retina-home-greeting-size;
  }

  @include lowend{
    font-size:$tablet-home-greeting-size;
  }
}

.accent{
  color:rgba(165,222,55,1);
}

.cust-btn2{
  font-family:$main-font;
  font-size:1.5em;
  margin-top:30px;
  color:rgba(0,0,0,.65) !important;
  
  @include mobile{
    margin-top:20px;
  }

  @include mobile-landscape{
    margin-top:5px;
    transform:scale(.8);
  }

  @include iphone-landscape{
    margin-top:5px;
    transform:scale(.6);
  }

  @include macbook{
    margin-top:20px;
    transform:scale(1);
  }

  @include macdesktop{
    margin-top:30px;
    transform:scale(1.2);
  }

  @include lowend{
   margin-top:10px;
   transform:scale(.8);
 }

}