@import '../scenes_general.scss';
@import '../media_queries.scss';
@import '../fonts.scss';

// ||||||||||||||||||||||||||||||||
// 	IMAGERY CONTAINER
// ||||||||||||||||||||||||||||||||
.subscene3-imagery-container{
	height:50vh;
	width:100%;
	position:relative;

	background-image:url('../../../public/images/subscene3/background.svg');
	background-position:center;
	background-size:cover;
	overflow:hidden;
}

.subscene3-inner-container{
	height:100%;
	margin:0 auto;
	position:relative;
	width:70%;
	
	@include mobile{
		width:100%;
	}

	@include iphone-landscape{
		width:70%;
	}

	@include med{
		width:100%;
	}

	@include mobile-landscape{
		width:70%;
	}

	@include ipad{
		width:90%;
	}
}

.subsc3-floor{
	position:absolute;
	bottom:0;
	left:0;
	height:50%;
	transform:scaleX(20);
}

.subsc3-glass{
	position:absolute;
	bottom:20%;
	left:0;
	height:60%;

	@include mobile{
		bottom:20%;
		left:0;
		height:40%;
	}

	@include iphone-landscape{
		left:0;
		bottom:20%;
		height:60%;	
	}

	@include ipad{
		left:0;
		bottom:20%;
		height:50%;	
	}
}

.subsc3-bed{
	height:45%;
	position:absolute;
	bottom:35%;
	left:50%;
	transform:translate(-50%, 0%);

	@include mobile{
		height:25%;
		bottom:35%;
	}

	@include iphone-landscape{
		height:40%;
		bottom:35%;
	}

	@include ipad{
		height:30%;
		bottom:35%;
	}
}

.subsc3-closet{
	height:80%;
	position:absolute;
	bottom:20%;
	right:0%;

	@include mobile{
		height:60%;
		right:-10%;
		bottom:19%;
	}

	@include iphone-landscape{
		height:60%;
		right:0%;
		bottom:19%;	
	}

	@include ipad{
		height:60%;
		right:0%;
		bottom:19%;	
	}

}


// ||||||||||||||||||||||||||||||||
// 	INFORMATION CONTAINER
// ||||||||||||||||||||||||||||||||
.subscene3-information-container{
	width:100%;
	overflow:hidden;
}

.subsc3-title{
	font-family:$main-font;
	font-size:$desktop-title-size;

	@include mobile{
		font-size:$mobile-title-size;
	}

	@include mobile-landscape{
		font-size:$mobile-title-size;
	}

	@include iphone-landscape{
		font-size:$mobile-title-size;
	}

	@include ipad{
		font-size:$med-title-size;
	}

	@include med{
		font-size:$med-title-size;
	}

	@include lowend{
		font-size:$mobile-title-size;
	}

	@include macbook{
		font-size:$med-title-size;
	}

	@include macdesktop{
		font-size:$retina-title-size;
	}
}

.subsc3-description{
	font-family:$secondary-font;
	font-size:$desktop-description-size;
	text-align:center;	
	margin:0 auto;
	width:50%;

	@include mobile{
		font-size:$mobile-description-size;
		width:90%;
	}

	@include mobile-landscape{
		font-size:$mobile-description-size;
		width:70%;
	}	

	@include iphone-landscape{
		font-size:$mobile-description-size;
		width:70%;
	}

	@include ipad{
		font-size:$med-description-size;
		width:80%;
	}

	@include lowend{
		font-size:$mobile-description-size;
		width:80%;
	}

	@include macbook{
		font-size:$med-description-size;
		width:60%;
	}

	@include macdesktop{
		font-size:$retina-description-size;
		width:45%;
	}
}




// ||||||||||||||||||||||||||||||||
// 	BOXES CONTAINER
// ||||||||||||||||||||||||||||||||

$retina-box-title-size:2.8em;
$desktop-box-title-size:2em;
$med-box-title-size:2em;
$mobile-box-title-size:1.5em;

$retina-box-description-size:2em;
$desktop-box-description-size:1.4em;
$med-box-description-size:2em;
$mobile-box-description-size:1.2em;




.subscene3-boxes-container{
	width:70%;
	margin:2% auto;
	// border:2px solid green;

	@include med{
		width:90%;
	}

	@include mobile{
		width:90%;
	}

	@include mobile-landscape{
		width:90%;
	}

	@include iphone-landscape{
	}

	@include ipad{
		width:100%;
	}

	@include lowend{
		width:90%;
	}

	@include med{
	}

	@include macbook{
	}

	@include macdesktop{
		width:70%;
	}
}

.subsc3-box-container{
	// border:2px solid green;
	margin:5% auto;

	@include mobile{
		margin:10% auto;
	}

	@include mobile-landscape{
		margin:10% auto;
	}

	@include iphone-landscape{
	}

	@include ipad{
	}

	@include med{
	}

	@include macbook{
	}

	@include macdesktop{
	}
}

.subsc3-box-image{
	height:25vh;
	width:100%;
	padding:5%;
	animation-duration:2s;

	@include mobile{
		height:20vh;
		width:50%;
		padding:5%;
	}

	@include mobile-landscape{
		height:40vh;
		width:50%;
		padding:1%;
	}

	@include iphone-landscape{
	}

	@include ipad{
	}

	@include med{
	}

	@include macbook{
	}

	@include macdesktop{
	}

}

.subsc3-box-title-container{
	border-radius:0px 20px;
}

.subsc3-box-title{
	color:white;
	font-family:$main-font;
	font-size:$desktop-box-title-size;
	text-transform:capitalize;
	text-shadow:2px 2px 2px rgba(0,0,0,.25);

	@include mobile{
		font-size:$mobile-box-title-size;
	}

	@include mobile-landscape{
		font-size:$mobile-box-title-size;
	}

	@include iphone-landscape{
	}

	@include ipad{
		font-size:$mobile-box-title-size;
	}

	@include lowend{
		font-size:$mobile-box-title-size;
	}

	@include med{
	}

	@include macbook{
		font-size:$mobile-box-title-size;
	}

	@include macdesktop{
		font-size:$retina-box-title-size;
	}

}

.subsc3-box-description-container{
	// background-color:rgba(0,0,0,.5);
	padding:1% 10%;
	margin:0 auto;

	@include mobile{
		padding:0% 5%;
	}

	@include mobile-landscape{
	}

	@include iphone-landscape{
	}

	@include ipad{
	}

	@include med{
	}

	@include macbook{
	}

	@include macdesktop{
	}
}

.subsc3-box-description{
	font-family:$secondary-font;
	font-size:$desktop-box-description-size;
	text-align:center;

	@include mobile{
		font-size:$mobile-box-description-size;
		text-align:left;
	}

	@include mobile-landscape{
		font-size:$mobile-box-description-size;
	}

	@include iphone-landscape{
	}

	@include ipad{
		font-size:$mobile-box-description-size;
		text-align:left;
	}

	@include lowend{
		font-size:$mobile-box-description-size;
	}

	@include med{
	}

	@include macbook{
		font-size:$mobile-box-description-size;
	}

	@include macdesktop{
		font-size:$retina-box-description-size;
	}
}









// BOXES COLORS
$opacity-level:.8;
#know_position_title{
	background-color:rgba(149,105,202, $opacity-level);
}

#know_company_title{
	// background-color:rgba(92,217,238, $opacity-level);
	// background-color:rgba(174,224,93, $opacity-level);
	background-color:rgba(155,230,32, $opacity-level);

}

#hire_you_title{
	background-color:rgba(191,44,48, $opacity-level);
}

#present_yourself_title{
	background-color:rgba(247,146,32, $opacity-level);
}

#know_skills_title{
	// background-color:rgba(49,102,242,$opacity-level);
	// background-color:rgba(191,44,48, $opacity-level);
	background-color:rgba(8,146,70, $opacity-level);
}

#campus_interviews_title{
	background-color:rgba(191,44,48, $opacity-level);
	// background-color:rgba(220,175,132, $opacity-level);
	// background-color:rgba(233,215,198, $opacity-level);
}