@import '../fonts.scss';
@import '../media_queries.scss';
@import '../scenes_general.scss';

.subscene1-scenary-container{
  position:relative;
  height:40vh;
  width:100%;
  background-image:url('../../../public/images/subscene1/background3.svg');
  background-size:cover;
  background-position:center;
  overflow:hidden;
}

.container2{
  position:relative;
  height:100%;
  width:50%;
  margin:0 auto;
}

.subc1-floor{
  position:absolute;
  bottom:0;
  left:0;

  height:20vh;
  transform:scaleX(2);
}

.subc1-tray{
  height:60%;
  position:absolute;
  top:50%;
  left:0;
  transform:translate(0%, -61%);

  @include macbook {
    top:55%;
  }

  @include macdesktop{
    top:55%;
    height:70%;
    left:-25%;
  }

  @include ipad{
    height:45%;
    top:60%;
    left:-10%;
  }

  @include mobile{
    top:60%;
    height:15vh;
  }

}

.subc1-icecream{
  height:60%;
  position:absolute;
  top:50%;
  right:0;
  transform:translate(0%, -60%);

  @include macbook{
    top:55%;
  }

  @include macdesktop{
    top:55%;
    height:70%;
    right:-15%;
  }

  @include ipad{
    height:45%;
    top:60%;
    right:-10%;
  }

  @include mobile{
    height:40%;
    top:60%;
  }
}

#subscene1-information-container1{
  width:100%;
  background-color:#ebf4fa;
  border:1px solid #ebf4fa;
  overflow:hidden;
}

.subscene1-title{
  font-size:3em;
  margin-top:50px;

  @include macbook{
    font-size:2.5em;
  }

  @include macdesktop{
    font-size:3em;
  }

  @include ipad{
    font-size:2.5em;
  }

  @include mobile{
    font-size:1.8em;
  }
}

.subscene1-description{
  font-family:'abel'; 
  font-size:1.5em;
  margin:0 auto;
  width:50%;
  text-align:justify;

  @include macbook{
    font-size:1.2em;
  }

  @include macdesktop{
    font-size:2em;
  }

  @include ipad{
    font-size:1.5em;
    width:90%;
  }

  @include mobile{
    font-size:1.2em;
    width:80%;
    margin:0 auto;
  } 
}

.tanner{
  position:relative;
  left:50%;
  transform:translate(-50%, 0);
  height:30vh;
  margin-top:50px;

  @include macbook{
  }

  @include macdesktop{
  }

  @include ipad{
  }

  @include mobile{
    margin:50px auto;
  } 
}

#subscene1-information-container2{
  padding:5% 10%;
  overflow:hidden;
}

.section-image{
  width:80%;
}

.section-image2{
  width:72%;
}

.section-image3{
  width:75.5%;
}

#subscene1-information-container3{
  width:100%;
  background-color:#ebf4fa;
  border:1px solid #ebf4fa;
  margin-bottom:50px;
  overflow:hidden;
}

.section-icon{
  width:30%;
  margin:10px;
  transition: .3s ease-in;
  @include macbook{
  }

  @include macdesktop{
  }

  @include ipad{
  }

  @include mobile{
    width:30%;
    margin:10px;
  } 
}

.section-icon:hover{
  width:33%;
}

.section-title{
  font-family:'abel';
  font-size:1.8em;
  font-weight:bold;
  text-transform:capitalize;
  margin:0;
  text-align:center;

  @include macbook{
    font-size:1.8em;
  }

  @include macdesktop{
    font-size:2em;
  }

  @include ipad{
    font-size:1.5em;
    width:90%;
  }

  @include mobile{
    font-size:1.2em;
    width:90%;
    margin:0 auto;
  } 
}

.section-description{
  font-family:'abel';
  font-size:1.5em;
  width:80%;
  margin:10px auto;
  text-align:center;  

  @include macbook{
    font-size:1.2em;
  }

  @include macdesktop{
    font-size:2em;
  }

  @include ipad{
    font-size:1.5em;
    width:90%;
  }

  @include mobile{
    font-size:1.2em;
    width:90%;
    margin:0 5% 50px 5%;
  } 
}

.btn2{
  margin-top:10px;
  margin-bottom:50px;
  font-size:1.3em;
  color:rgba(255,255,255,.75) !important;
  text-shadow:1px 1px 1px rgba(0,0,0,.25);
  text-transform: capitalize;
  font-family:'pattaya';
  transform:scale(1.5);

  @include macbook{
    transform:scale(1);
  }

  @include macdesktop{
    transform:scale(1.8);
  }

  @include ipad{
  }

  @include mobile{
  } 
}