@import '../media_queries.scss';
@import '../subscenes_fonts.scss';


// ||||||||||||||||||||||||||||||||||||||||
// SUBSCENE 1 - SCENARY CONTAINER - START
// ||||||||||||||||||||||||||||||||||||||||
.subscene1-scenary-container{
  position:relative;
  height:50vh;
  width:100%;
  overflow:hidden;

  background-image:url('../../../public/images/subscene1/background3.svg');
  background-size:cover;
  background-position:center;
}

.subscene1-scenary{
  // border:2px solid green;
  width:70%; 
  height:100%;
  margin:0 auto;
  position:relative;
  
  @include med{
    width:90%;
  }

  @include mobile{
    width:100%;
  }

  @include mobile-landscape{
    width:80%;
  }
  
  @include ipad{
    width:80%;
  }

  @include lowend{
    width:80%;
  }
}

.subscene1-floor{
  height:40%;
  position:absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%, 0) scaleX(2);
}

.subscene1-tray{
  height:60%;
  position:absolute;
  bottom:20%;
  left:0;
  
  @include med{
    height:45%;
    bottom:20%;
    left:0;
  }

  @include mobile{
    height:30%;
    bottom:20%;
    left:0;    
  }

  @include mobile-landscape{
    height:50%;
    bottom:20%;
    left:0;    
  }

  @include iphone-landscape{
    height:50%;
    bottom:20%;
    left:0; 
  }

  @include ipad{
    height:35%;
    bottom:20%;
    left:0;
  }
}

.subscene1-icecream{
  height:65%;
  position:absolute;
  bottom:20%;
  right:0;
  
  @include med{
    height:50%;
    bottom:20%;
    right:0;
  }

  @include mobile{
    height:35%;
    bottom:20%;
    right:0;    
  }

  @include mobile-landscape{
    height:50%;
    bottom:20%;
    right:0; 
  }

  @include iphone-landscape{
    height:50%;
    bottom:20%;
    right:0; 
  }
  
  @include ipad{
    height:35%;
    bottom:20%;
    right:0; 
  }
}

.sub1_tray-animation-container{
  position:absolute;
  bottom:15%;
  left:0%;
  transform:scale(.45) translate(-65%, 70%);

  @include med{
    bottom:19%;
    left:-30%;
    transform:scale(.4) translate(-72%, 80%);
  }

  @include mobile{
  }

  @include mobile-landscape{
  }

  @include iphone-landscape{
  }

  @include ipad{
    bottom:22%;
    left:0%;
    transform:scale(.3) translate(-140%, 170%);
  }

  @include lowend{
    bottom:0%;
    left:0%;
    transform:scale(.3) translate(-110%, 90%);
  }

  @include macdesktop{
    bottom:22%;
    left:0%;
    transform:scale(.7) translate(-30%, 35%);
  }
} 

.sub1_icecream-animation-container{
  position:absolute;
  bottom:6%;
  right:0%;
  transform:scale(1) translate(0%, 0);

  @include med{
    bottom:12%;
    right:-30%;
    transform:scale(1) translate(0%, 0);
  }

  @include mobile{
  }

  @include mobile-landscape{
  }

  @include iphone-landscape{
  }

  @include ipad{
    bottom:5%;
    right:-20%;
    transform:scale(.8) translate(0%, 0);
  }

  @include macbook{
    bottom:15%;
    right:-5%;
    transform:scale(1) translate(0%, 0);
  }

  @include lowend{
    bottom:0%;
    right:0%;
    transform:scale(.7) translate(20%, 15%);
  }

  @include macdesktop{
    bottom:22%;
    right:0%;
    transform:scale(1.5) translate(0%, 0);
  }
}
// |||||||||||||||||||||||||||||||||||||||
// SUBSCENE 1 - SCENARY CONTAINER - END
// |||||||||||||||||||||||||||||||||||||||








// ||||||||||||||||||||||||||||||||||||||||||||
// SUBSCENE 1 - INFORMATION CONTAINER - START
// ||||||||||||||||||||||||||||||||||||||||||||
.subscene1-information-container{
  position:relative;
  height:60vh;
  width:100%;
  background-color:#052D4C;
  overflow:hidden;
  
  @include med{
    height:auto;
    min-height:50vh;
  }

  @include mobile{
    height:auto;
    min-height:85vh;
  }

  @include mobile-landscape{
    height:auto;
    min-height:100vh;
  }

  @include iphone-landscape{
    height:auto;
    min-height:100vh;
  }
  
  @include ipad{
    height:auto;
    min-height:55vh;
  }

  @include lowend{
    height:auto;
    min-height:80vh; 
  }

  @include macbook{
    height:auto;
    min-height:60vh; 
  }

  @include macdesktop{
    height:auto;
    min-height:50vh; 
  }
}

.subscene1-information{
  // border:2px solid green;
  height:100%;
  width:50%;

  position:absolute;
  top:0;
  left:50%;
  transform:translate(-50%, 0);

  @include med{
    width:90%;
  }

  @include mobile{
    width:90%;
  }

  @include mobile-landscape{
    width:90%;
  }

  @include iphone-landscape{
    width:90%;
  }

  @include ipad{
    width:90%;
  }  

  @include lowend{
    width:90%;
  }

  @include macdesktop{
    width:50%;
  }  
}

.subscene1-title{
  color:white;
  font-family:$main-font;
  font-size:$desktop-subscene-title-size;
  text-align:center;
  text-transform:capitalize;
  margin:6% 0 0 0;

  @include med{
    font-size:$med-subscene-title-size;
    margin:3% 0 0 0;
  }

  @include mobile{
    font-size:$mobile-subscene-title-size;
    margin:6% 0 3% 0;
  }

  @include mobile-landscape{
    font-size:$mobile-subscene-title-size;
    margin:6% 0 0 0;
  }

  @include iphone-landscape{
    font-size:$mobile-subscene-title-size;
    margin:3% 0 0 0;
  }
  
  @include ipad{
    font-size:$med-subscene-title-size;
    margin:3% 0 0 0; 
  }

  @include lowend{
    font-size:$med-subscene-title-size;
    margin:3% 0 0 0;  
  }

  @include macdesktop{
    font-size:$retina-subscene-title-size;
    margin:3% 0 0 0;  
  }
}

.subscene1-description{
  color:white;
  font-family:$secondary-font;
  font-size:$desktop-subscene-description-size;
  text-align:center;
  width:85%;
  margin:0 auto;

  @include med{
    width:90%;
    font-size:$med-subscene-description-size;
    text-align:center;
  }

  @include mobile{
    width:100%;
    font-size:$mobile-subscene-description-size;
    text-align:justify;
  }

  @include mobile-landscape{
    width:100%;
    font-size:$mobile-subscene-description-size;
    text-align:justify;
  }

  @include iphone-landscape{
    width:100%;
    font-size:$mobile-subscene-description-size;
    text-align:justify;
  }
  
  @include ipad{
    width:80%;
    font-size:$med-subscene-description-size;
    text-align:justify;
  }

  @include lowend{
    width:80%;
    font-size:$med-subscene-description-size;
    text-align:center;
  }

  @include macdesktop{
    width:90%;
    font-size:$retina-subscene-description-size;
    text-align:center;
  }

}

.subscene1-wave{
  position:absolute;
}

#wave1{
  bottom:0%;
  left:0;
  width:55%;

  @include mobile{
    display:none;
  }

  @include ipad{
    bottom:-1%;
    left:-1%;
    width:55%;    
  }

  @include lowend{
    bottom:-1%;
    left:-1%;
    width:55%; 
  }
}

#wave2{
  bottom:-1%;
  right:0;
  width:65%;

  @include mobile{
    display:none;
  }
}

#wave3{
  bottom:0%;
  left:-8%;
  width:60%;

  @include mobile{
    display:none;
  }
}

#wave4{
  bottom:0%;
  right:-8%;
  width:60%;

  @include mobile{
    display:none;
  }
}
// ||||||||||||||||||||||||||||||||||||||||||||
// SUBSCENE 1 - INFORMATION CONTAINER - END
// ||||||||||||||||||||||||||||||||||||||||||||





// ||||||||||||||||||||||||||||||||||||||||||||
// SUBSCENE 1 - CARD CONTAINER - START
// ||||||||||||||||||||||||||||||||||||||||||||
.subscene1-card-container{
  width:100%;
  background-color:#D7E4F0;
  overflow:hidden;
  position:relative;
  @include med{
  }
  @include mobile{
  }
  @include mobile-landscape{
  }
}

.subscene1-cards-container{
  width:80%;
  height:100%;
  margin:0 auto 5% auto;
  position:relative;
  margin-bottom:15%;

  @include med{
    width:100%; 
  }

  @include mobile{
    width:100%;
  }

  @include mobile-landscape{
    width:100%;
  }

  @include iphone-landscape{
    width:100%;
  }

  @include ipad{
    width:100%;
  }
  @include lowend{
    width:100%;
  }

  @include macdesktop{
    width:70%;
  }
}


.subscene1-card{
  height:100%;
  width:100%;
  margin:0 auto;
  @include med{
  }
  @include mobile{
  }
  @include mobile-landscape{
  }
}


.subscene1-card-image-container{
  width:100%;
  @include med{
  }
  @include mobile{
  }
  @include mobile-landscape{
  }
}

.subscene1-card-image{
  width:80%;
  height:250px;
  margin-left:10%;
  margin-bottom:3%;

  @include med{
    width:80%;
    height:200px;
    margin-left:10%;
    margin-top:10%;
  }

  @include mobile{
    width:80%;
    height:150px;
    margin-left:10%;
    margin-top:10%;
  }

  @include mobile-landscape{
    width:80%;
    height:150px;
    margin-left:10%;
    margin-top:10%;
  }

  @include iphone-landscape{
    width:80%;
    height:150px;
    margin-left:10%;
    margin-top:10%;
  }

  @include ipad{
    width:80%;
    height:150px;
    margin-left:10%;
    margin-top:10%;
  }

  @include lowend{
    width:80%;
    height:160px;
    margin-left:10%;
    margin-top:10%;
  }

  @include macdesktop{
    width:80%;
    height:280px;
    margin-left:10%;
    margin-top:10%;
  }
}

.subscene1-card-title-container{
  height:80px;
  width:100%;
  border-radius:40px;
  background-color:#4A9AE8;
  position:relative;

  @include med{
    height:60px;
  }

  @include mobile{
    height:50px;
  }

  @include mobile-landscape{
    height:50px;
  }
  @include iphone-landscape{
    height:50px;
  }
  @include ipad{
    height:50px;
  }

  @include lowend{
    height:60px;
  }
}

.subscene1-card-title{
  color:white;
  font-family:$main-font;
  font-size:$desktop-subscene-card-title-size;
  text-transform:capitalize;
  text-shadow:2px 2px 2px rgba(0,0,0,.25);
  margin:0;
  text-align:center;
  width:100%;

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  
  @include med{
    font-size:$med-subscene-card-title-size;
  }

  @include mobile{
    font-size:$mobile-subscene-card-title-size;
  }

  @include mobile-landscape{
    font-size:$mobile-subscene-card-title-size;
  }

  @include iphone-landscape{
    font-size:$mobile-subscene-card-title-size;
  }

  @include ipad{
    font-size:$med-subscene-card-title-size;
  }

  @include lowend{
    font-size:$med-subscene-card-title-size;
  }

  @include macdesktop{
    font-size:$retina-subscene-card-title-size;
  }
}

.subscene1-card-description-container{
  height:auto;
  min-height:350px;
  width:85%;
  margin:0 auto;
  background-color:white;
  padding:5%;

  box-shadow:0px 5px 5px rgba(0,0,0,.25);
  border-radius:0 0 20px 20px;

  @include med{
    width:90%;
    margin-top:-2%;
    margin-bottom:10%;
  }

  @include mobile{
    min-height:280px;
    width:90%;
    margin-top:-2%;
    margin-bottom:10%;
  }

  @include mobile-landscape{
    min-height:300px;
    width:90%;
    margin-top:-2%;
    margin-bottom:10%;
  }

  @include iphone-landscape{
    min-height:300px;
    width:90%;
    margin-top:-2%;
    margin-bottom:10%;
  }

  @include ipad{
    min-height:350px;
    width:90%;
    margin-top:-2%;
    margin-bottom:10%;
  }

  @include lowend{
    min-height:350px;
    width:88%;
    margin-top:-2%;
    margin-bottom:10%;
  }

  @include macdesktop{
    min-height:300px;
    width:85%;
    margin-top:-2%;
    margin-bottom:10%;
  }
}

.subscene1-card-description{
  font-family:$secondary-font;
  font-size:$desktop-subscene-card-description-size;
  text-align:center;
  margin:0 0 5% 0;
  padding:0 3%;

  @include med{
    font-size:$med-subscene-card-description-size;
    padding:0 3%;
  }

  @include mobile{
    font-size:$mobile-subscene-card-description-size;
    padding:0 3%;
  }

  @include mobile-landscape{
    font-size:$mobile-subscene-card-description-size;
    padding:0 3%;
  }

  @include iphone-landscape{
    font-size:$mobile-subscene-card-description-size;
    padding:0 3%;
  }

  @include ipad{
    font-size:$med-subscene-card-description-size;
    padding:0 3%;
  }

  @include lowend{
    font-size:$mobile-subscene-card-description-size;
    padding:0 3%;
  }

  @include macdesktop{
    font-size:$retina-subscene-card-description-size;
    padding:0 5%;
  }
}

.subscene1-card-btn{
  font-family:$main-font;
  font-size:1.5em;
  text-transform:capitalize;

  @include mobile{

  }
}
// ||||||||||||||||||||||||||||||||||||||||||||
// SUBSCENE 1 - CARD CONTAINER - END
// ||||||||||||||||||||||||||||||||||||||||||||




// ||||||||||||||||||||||||||||||||||||||||||||
// SUBSCENE 1 - INFORMATION SECTION 2 - START
// ||||||||||||||||||||||||||||||||||||||||||||
.subscene1-information-container2{
  height:auto;
  width:100%;
  position:relative;
  overflow:hidden;
  background-color:#052D4C;

}

.subscene1-title2{
  color:white;
  font-family:$main-font;
  font-size:$desktop-subscene-title-size;
  text-align:center;
  text-transform:capitalize;
}



// WAVES for information section 2
#wave5{
  bottom:-2%;
  left:0;
  width:60%;
  
  @include mobile{
    display:none;
  }

  @include lowend{
    bottom:-2%;
  }
}

#wave5_2{
  bottom:-2%;
  right:0;
  width:63%;
  @include mobile{
    display:none;
  }
}

#wave6{
  bottom:-1%;
  left:0;
  width:50%;
  @include mobile{
    display:none;
  }
}

#wave7{
  bottom:-1%;
  left:20%;
  width:50%;
  @include mobile{
    display:none;
  }
}

#wave8{
  bottom:-1%;
  right:0;
  width:60%;
  @include mobile{
    display:none;
  }
}


// ||||||||||||||||||||||||||||||||||||||||||||
// SUBSCENE 1 - INFORMATION SECTION 2 - END
// ||||||||||||||||||||||||||||||||||||||||||||

.subscene1-return-btn{
  margin-top:5%;
  font-family:$main-font;
  font-size:1.5em;
  transform:scale(1.1);
}


