@import '../subscenes_fonts.scss';
@import '../media_queries.scss';
@import '../scenes_general.scss';

.subscene1-scenary-container{
  position:relative;
  height:40vh;
  width:100%;
  background-image:url('../../../public/images/subscene1/background3.svg');
  background-size:cover;
  background-position:center;
  overflow:hidden;
}

.container2{
  position:relative;
  height:100%;
  width:50%;
  margin:0 auto;

  @include mobile{
    width:100%;
  }

  @include mobile-landscape{
    width:100%;
  }

  @include iphone-landscape{
    width:100%;
  }

  @include med{
    width:100%;
  }

  @include ipad{
    width:100%;
  }

  @include macbook{
    width:70%;
  }

}

.subc1-floor{
  position:absolute;
  bottom:0;
  left:0;

  height:20vh;
  transform:scaleX(2);
}

.subc1-tray{
  height:60%;
  position:absolute;
  top:15%;
  left:0;
  transform:translate(0%, 0%);

  @include mobile{
    top:37%;
    left:0;
    height:15vh;
  }

  @include mobile-landscape{
    top:15%;
    left:15%;
    height:25vh; 
  }

  @include iphone-landscape{
    top:15%;
    left:15%;
    height:25vh; 
  }

  @include ipad{
    height:45%;
    top:35%;
    left:-10%;
  }

  @include macbook {
    top:18%;
  }

  @include macdesktop{
    top:12%;
    height:70%;
    left:0%;
  }
}

.subc1-icecream{
  height:60%;
  position:absolute;
  top:50%;
  right:0;
  transform:translate(0%, -60%);

  @include mobile{
    height:40%;
    top:60%;
  }

  @include mobile-landscape{
    height:60%;
    top:55%; 
    right:20%;
  }

  @include iphone-landscape{
    height:60%;
    top:55%; 
    right:20%;
  }

  @include ipad{
    height:45%;
    top:60%;
    right:0%;
  }

  @include macbook{
    top:55%;
  }

  @include macdesktop{
    top:55%;
    height:70%;
    right:10%;
  }




}

#subscene1-information-container1{
  width:100%;
  background-color:#ebf4fa;
  border:1px solid #ebf4fa;
  overflow:hidden;
}

.subscene1-title{
  font-family:$main-font;
  font-size:$desktop-subscene-title-size;
  margin-top:50px;

  @include mobile{
    font-size:$mobile-subscene-title-size;
  }

  @include mobile-landscape{
    font-size:$mobile-subscene-title-size;
  }

  @include iphone-landscape{
    font-size:$mobile-subscene-title-size;
  }

  @include med{
    font-size:$med-subscene-title-size;
  }

  @include ipad{
    font-size:$med-subscene-title-size;
  }

  @include macbook{
    font-size:$med-subscene-title-size;
  }
  
  @include lowend{
    font-size:$med-subscene-title-size;
  }

  @include macdesktop{
    font-size:$retina-subscene-title-size;
  }
  
  
}

.subscene1-description{
  font-family:$secondary-font; 
  font-size:$desktop-subscene-description-size;
  margin:0 auto;
  width:40%;
  text-align:justify;
  

  @include mobile{
    font-size:$mobile-subscene-description-size;
    width:80%;
    margin:0 auto;
    text-align:center;
  }

  @include mobile-landscape{
    font-size:$mobile-subscene-description-size;
    width:80%;
  }

  @include iphone-landscape{
    font-size:$mobile-subscene-description-size;
    width:80%;
  } 

  @include med{
    font-size:$med-subscene-description-size;
    width:80%;
  }

  @include ipad{
    font-size:$mobile-subscene-description-size;
    width:70%;
  }

  @include macbook{
    font-size:$med-subscene-description-size;
  }

  @include lowend{
    font-size:$mobile-subscene-description-size;
    width:45%;
  }

  @include macdesktop{
    font-size:$retina-subscene-description-size;
    width:30%;
  }

  
}

.tanner{
  position:relative;
  left:50%;
  transform:translate(-50%, 0);
  height:30vh;
  margin-top:50px;

  @include macbook{
  }

  @include macdesktop{
  }

  @include ipad{
  }

  @include mobile{
    margin:50px auto;
  } 
}

#subscene1-information-container2{
  padding:5% 10%;
  overflow:hidden;
}

.section-image{
  width:80%;
}

.section-image2{
  width:72%;
}

.section-image3{
  width:75.5%;
}

#subscene1-information-container3{
  width:100%;
  background-color:#ebf4fa;
  border:1px solid #ebf4fa;
  margin-bottom:50px;
  overflow:hidden;
}

.section-icon{
  width:30%;
  margin:10px;
  transition: .3s ease-in;
  
  @include mobile{
    width:30%;
    margin:10px;
  }

  @include ipad{
  }

  @include macbook{
  }

  @include macdesktop{
  }
}

.section-icon:hover{
  width:33%;
}

.section-title{
  font-family:$secondary-font;
  font-size:$desktop-subscene-resource-title-size;
  font-weight:bold;
  text-transform:capitalize;
  margin:0;
  text-align:center;

  @include mobile{
    font-size:$mobile-subscene-resource-title-size;
    width:90%;
    margin:0 auto;
  } 

  @include med{
    font-size:$med-subscene-resource-title-size;
  }
  
  @include ipad{
    font-size:$med-subscene-resource-title-size;
    width:90%;
  }

  @include macbook{
    font-size:$med-subscene-resource-title-size;
  }

  @include lowend{
    font-size:$med-subscene-resource-title-size;
  }

  @include macdesktop{
    font-size:$retina-subscene-resource-title-size;
  }

}

.section-description{
  font-family:$secondary-font;
  font-size:$desktop-subscene-resource-description-size;
  width:80%;
  margin:10px auto;
  text-align:center;  

  @include mobile{
    font-size:$mobile-subscene-resource-description-size;
    width:90%;
    margin:0 5% 50px 5%;
  } 

  @include med{
    font-size:$med-subscene-resource-description-size;
  }

  @include ipad{
    font-size:$med-subscene-resource-description-size;
    width:90%;
  }

  @include macbook{
    font-size:$med-subscene-resource-description-size;
  }

  @include lowend{
    font-size:$med-subscene-resource-description-size;
  }

  @include macdesktop{
    font-size:$retina-subscene-resource-description-size;
  }
}

.btn2{
  margin-top:10px;
  margin-bottom:50px;
  font-size:1.3em;
  color:rgba(255,255,255,.75) !important;
  text-shadow:1px 1px 1px rgba(0,0,0,.25);
  text-transform: capitalize;
  font-family:'pattaya';
  transform:scale(1.5);

  @include macbook{
    transform:scale(1);
  }

  @include macdesktop{
    transform:scale(1.8);
  }

  @include ipad{
  }

  @include mobile{
  } 
}