@import '../media_queries.scss';
@import '../scenes_general.scss';

.sc1-background-container{
  height:calc(100vh - #{$footer-height});
  width:100%;

  background-image:url(../../../public/images/scene1/background3.svg);
  background-size:cover;
  background-position:center;

  overflow:hidden;
  position:relative;
}

.sc1-scenary-container{
  // border:2px solid green;
  width:80%;
  height:100%;  
  margin:0 auto;
  position:relative;

  @include med{
    width:90%;
  }

  @include mobile{
    width:100%;
  }

  @include ipad{
    width:100%;
  }

  @include lowend{
    width:100%;
  }
}

.sc1-floor{
  height:50%;
  position:absolute;
  bottom:0%;
  right:50%;
  transform:translate(50%, 0) scaleX(3);

  @include med{
    height:40%;
  }

  @include mobile{
    height:30%;
  }

  @include mobile-landscape{
    height:25%;
  }

  @include ipad{
    height:30%;
  }
}

.sc1-ice_cream{
  height:40%;
  position:absolute;
  bottom:20%;
  right:0%;
  
  @include med{
    height:32%;
    bottom:19%;
    right:-10%;
  }

  @include mobile{
    height:20%;
    bottom:15%;
    right:0%;    
  }

  @include mobile-landscape{
    height:40%;
    bottom:10%;
    right:0%;    
  }

  @include ipad{
   height:30%;
   bottom:12%;
   right:0%;
 }
}

.sc1-ice_tray{
  height:20%;
  position:absolute;
  bottom:22%;
  left:0%;

  @include med{
    height:18%;
    bottom:20%;
    left:-20%;
  }

  @include mobile{
    height:12%;
    bottom:15%;
    left:-25%;    
  }

  @include mobile-landscape{
    height:20%;
    bottom:10%;
    left:0%;    
  }

  @include ipad{
   height:15%;
   bottom:12%;
   left:-25%;
 }
}

.tray-animation-container{
  position:absolute;
  bottom:22%;
  left:0%;
  transform:scale(.45) translate(-65%, 70%);

  @include med{
    bottom:19%;
    left:-30%;
    transform:scale(.4) translate(-72%, 80%);
  }

  @include mobile{
  }

  @include mobile-landscape{
  }

  @include iphone-landscape{
  }

  @include ipad{
    bottom:22%;
    left:0%;
    transform:scale(.3) translate(-140%, 170%);
  }

  @include lowend{
  }

  @include macdesktop{
    bottom:22%;
    left:0%;
    transform:scale(.7) translate(-30%, 35%);
  }
} 

.icecream-animation-container{
  position:absolute;
  bottom:16%;
  right:0%;
  transform:scale(1) translate(0%, 0);

  @include med{
    bottom:12%;
    right:-30%;
    transform:scale(1) translate(0%, 0);
  }

  @include mobile{
  }

  @include mobile-landscape{
  }

  @include iphone-landscape{
  }

  @include ipad{
    bottom:5%;
    right:-20%;
    transform:scale(.8) translate(0%, 0);
  }

  @include lowend{
    bottom:12%;
    right:0%;
    transform:scale(1) translate(0%, 0);
  }

  @include macbook{
    bottom:15%;
    right:-5%;
    transform:scale(1) translate(0%, 0);
  }

  @include macdesktop{
    bottom:22%;
    right:0%;
    transform:scale(1.5) translate(0%, 0);
  }
}